            <div class="header-section">

                <!--logo and logo icon start-->
                <div class="logo dark-logo-bg hidden-xs hidden-sm">
                    <a th:href="@{dashboard}">
                        <img th:src="@{/resources/img/logo-icon.png}" alt="">
                        <!--<i class="fa fa-maxcdn"></i>-->
                        <span class="brand-name">SlickLab</span>
                    </a>
                </div>

                <div class="icon-logo dark-logo-bg hidden-xs hidden-sm">
                    <a th:href="@{dashboard}">
                        <img th:src="@{/resources/img/logo-icon.png}" alt="">
                        <!--<i class="fa fa-maxcdn"></i>-->
                    </a>
                </div>
                <!--logo and logo icon end-->

                <!--toggle button start-->
                <a class="toggle-btn"><i class="fa fa-outdent"></i></a>
                <!--toggle button end-->

                <!--mega menu start-->
                <div id="navbar-collapse-1" class="navbar-collapse collapse yamm mega-menu">
                    <ul class="nav navbar-nav">

                        <!-- Classic dropdown -->
                        <li class="dropdown"><a href="javascript:;" data-toggle="dropdown" class="dropdown-toggle" th:text="#{change_lang}">   <b
                  				class=" fa fa-angle-down"></b></a>
                            <ul role="menu" class="dropdown-menu language-switch">
                                <li>
                                	<!-- @{${URL}+'?lang=kh'} -->
                                    <a tabindex="-1" th:href="@{${URL}(lang=kh)}" ><span> ភាសាខ្មែរ </span> <img th:src="@{/resources/img/flags/kh.png}" alt=""/></a>
                                </li>
                                <li>
                                	<!-- @{${URL}+'?lang=en'} -->
                                    <a tabindex="-1" th:href="@{${URL}(lang=en)}"><span> English </span> <img th:src="@{/resources/img/flags/usa_flag.jpg}" alt=""/></a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
                <!--mega menu end-->
                <div class="notification-wrap">
                <!--right notification start-->
                <div class="right-notification">
                    <ul class="notification-menu">
                        <li>
                            <form class="search-content">
                                <input type="text" class="form-control" name="keyword" th:placeholder="#{search}">
                            </form>
                        </li>

                        <li>
                            <a href="javascript:;" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <img th:src="@{/resources/img/avatar-mini.jpg}" alt="">Ret Sokheang
                                <span class=" fa fa-angle-down"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-usermenu purple pull-right">
                                <li><a href="javascript:;" th:text="#{profile}">  </a></li>
                                <li>
                                    <a href="javascript:;">
                                        <span class="badge bg-danger pull-right">40%</span>
                                        <span th:text="#{setting}"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <span class="label bg-info pull-right" th:text="#{new}"></span>
                                        <span th:text="#{help}"></span>
                                    </a>
                                </li>
                                <li><a href="login.html" th:text="#{logout}"><i class="fa fa-sign-out pull-right"></i> </a></li>
                            </ul>
                        </li>
                        <li>
                            <div class="sb-toggle-right">
                                <i class="fa fa-indent"></i>
                            </div>
                        </li>

                    </ul>
                </div>
                <!--right notification end-->
                </div>

            </div>
            <!-- header section end-->
            <div class="page-head">
                <h3 th:text="${MYTITLE}">
            
                </h3>
            </div>
        <!--     </div> -->
           